<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/adminlogin.css">

    <script src="/static/adminlogin.js">
        
    </script>
</head>

<body>
    <form method="post" action="/test">
        {% csrf_token %}
        <div class="whole">
            <div class="main">
                <div class="logo">
                    <img src="/static/kulogo.jpeg" width="100" height="100">
                </div>
                <big><big>
                    <b><big><big> <big> KAKATIYA UNIVERSITY<br></big><b>
                    </big></big></big></big>
                <big><b>Warangal-506 009</b></big>
                <h2 style="margin-bottom:03px;">FORM OF APPLICATION FOR SUBMISSION OF Ph.D THESIS.</h2>
            </div>

            <br>
            <center >
                <table style="margin: auto;width: 90%;">
                    <thead>
                        <tr>
                            <th>Application ID
                            </th>
                            <td>: {{obj.id}}</td>
                        </tr>
                        <tr>
                            <th>Name of the Candidate <small style="font-style: italic;">(In Capital)</small>
                                Shri/Mr./Ms.<br><small style="font-style: italic;">(as per Pre-Ph.D
                                    Memo)</small>
                            </th>
                            <td>: {{obj.cname}}</td>
                        </tr>
                        <tr>
                            <th>Father Name</th>
                            <td>: {{obj.fname}}</td>
                        </tr>
                        <tr>
                            <th>Date of Birth</th>
                            <td>: {{obj.dob}}</td>
                        </tr>
                        <tr>
                            <th>Photo <small style="font-style: italic;">(Passport Size)</small></th>
                            <td>: <a target="_blank" href="media/{{obj.photo}}" ><input type="button"class="btn" value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Mobile No</th>
                            <td>: {{obj.mob}}</td>
                        </tr>
                        <tr>
                            <th>Email id</th>
                            <td>: {{obj.email}}</td>
                        </tr>
                        <tr>
                            <th>Permanant Address</th>
                            <td>: {{obj.address}}</td>
                        </tr>

                        <tr>
                            <th>Subject of Thesis to be submitted</th>
                            <td>: {{obj.tsubmit}}</td>
                        </tr>
                        <tr>
                            <th>Faculty of Thesis to be Submitted</th>
                            <td>: {{obj.ftsubmit}}</td>
                        </tr>
                        <tr>
                            <th>Name of the Post Graduation Examination Passed</th>
                            <td>: {{obj.equalexam}}</td>
                        </tr>
                        <tr>
                            <th style="padding-left: 100px;">a. Name of the University</th>
                            <td>: {{obj.university}}</td>
                        </tr>
                        <tr>
                            <th style="padding-left: 100px;">b. Month/ Year of Passing</th>
                            <td>: {{obj.monthyear}}</td>
                        </tr>
                        <tr>
                            <th>Name of the Supervisor</th>
                            <td>: {{obj.supname}}</td>
                        </tr>
                        <tr>
                            <th style="padding-left: 100px;">a. Department</th>
                            <td>: {{obj.supdept}}</td>
                        </tr>
                        <tr>
                            <th style="padding-left: 100px;">b. Working Address</th>
                            <td>: {{obj.supwadd}}</td>
                        </tr>
                        <tr>
                            <th>Ph.D. Admission Order No./Date</th>
                            <td>: <a target="_blank" href="/media/{{obj.admissionorder}}" ><input type="button"class="btn"value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Supervisor's Report <small style="font-style: italic;">(Attested by Dean,Head and
                                    BoS)</small< /th>
                            <td>: <a target="_blank" href="/media/{{obj.supreport}}" ><input type="button"class="btn"value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Title of the Thesis as per Dean Order</th>
                            <td>: {{obj.titlethesis}}</td>
                        </tr>
                        <tr>
                            <th>Attach Ph.D Order <small style="font-style: italic;">(as per Dean)</small></th>
                            <td>: <a target="_blank" href="/media/{{obj.tthesis}}" ><input type="button"class="btn" value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Year of Admission into Ph.D. Program</th>
                            <td>: {{obj.yearofadd}}</td>
                        </tr>
                        <tr>
                            <th>Full time /Part-time</th>
                            <td>: {{obj.time}}</td>
                        </tr>
                        <tr>
                            <th>Are you Submitting Thesis within Prescribed Time? </th>
                            <td>
                                : {{obj.ptime}}
                            </td>
                        </tr>
                        <tr>
                            <th>If No,have you taken Time Bar Permission? <br><small style="font-style: italic;">(if
                                    Yes,
                                    Attach
                                    File)</small></th>
                            <td>: <a target="_blank" href="/media/{{obj.onTimef}}"><input type="button" class="btn" value="View File"></a> /
                                {{obj.onTime}}
                            </td>
                        </tr>
                        <tr>
                            <th>Pre-Ph.D Qualified Month and Year</th>
                            <td>: {{obj.prephd}}</td>
                        </tr>
                        <tr>
                            <th>No. of Articles Submitted <br> <small style="font-style: italic;">(Attested by the
                                    Supervisor,Head,BoS and Dean) </small></th>
                            <td>: {{obj.article}}</td>
                        </tr>
                        <tr>
                            <th>Upload Synopsis<br><small style="font-style: italic;">(Soft Copy pdf)</small></th>
                            <td>: <a target="_blank" href="/media/{{obj.synopsis}}"><input type="button" class="btn" value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Upload Thesis<br><small style="font-style: italic;">(Soft Copy pdf)</small></th>
                            <td>: <a target="_blank" href="/media/{{obj.fullthesis}}" ><input type="button"class="btn" value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Plagerism Certificate</th>
                            <td>: <a target="_blank" href="/media/{{obj.pc}}"><input type="button" class="btn" value="View File"></a></td>
                        </tr>
                        <tr>
                            <th>Date of submission</th>
                            <td>: {{obj.dateofsubmission}}</td>
                        </tr>
                        <tr>
                            <th>No Due Certificate</th>
                            <td>: <a target="_blank" href="/media/{{obj.noc}}"><input type="button" class="btn" value="View File"></a></td>
                        </tr>
                    </thead>
                </table>
            </center>
            <br>
            <br>
            <div class="bottom">
                Date Of Application :{{obj.myDate}}<br><br>
                Signature Of the Applicant :<a target="_blank" href="media/{{obj.sign}}" ><input type="button"class="btn" value="View File"></a>
            </div>
            <br>
            <select name="stat" onchange="space(this)" class='apr'>
                <option value="Approved">Approve</option>
                <option value="Rejected">Reject</option>
            </select><br>
            <span id="txt"></span>
        </div>
        <br>
        <br>
        <div class="sub">
            <input type="submit" name="sanjay" class="btn1" value="Submit">
        </div>
        <br>
        <br>
        <br>
        </div>
        
    </form>
</body>

</html>