
{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class=" container-fluid my-4">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock body %}

<center>
    <div class="container">
        <p id="desc" style="text-align:justify"><b>
                Kakatiya University was established on 19th August,
                1976 to fulfil the aspirations of the Telangana people for higher education.
                It is located in the historical city, Warangal, the erstwhile seat of the Kakatiya rulers.
                The founding of the University was in fact a historic event that heralded a new era in the realms of
                higher education of this region.
                The erstwhile Post-Graduate Centre of Osmania University was upgraded and named Kakatiya University.
                The University, began its journey as PG Centre Warangal in 1968 under aegis of Osmania university
                with only four Departments, viz. Telugu, English, Chemistry and Mathematics.
                The Departments of Physics, Botany, Zoology, Commerce, Public Administration and Economics were
                added later.
                The B. Pharmacy course which was started by Osmania University in 1974 was shifted to KU in
                1975.</b>
        </p>
    </div>
    <br><br>
    <h2><u>Login / Sign Up</u></h2>

    <table class="home01" style="margin-top: 50px; ">
        <tr>
            <td id="student">
                <a href="/">
                    <img class="img" src="/static/student.jpeg" alt="student logo" height="100px" width="100px" />

                    <p id="stu"> <b>Student Login</b></p>
                </a>
            </td>
            <td id="admin"><a href="/paylogin">
                    <img class="img" src="/static/adminlogo.jpeg" alt="admin logo" height="100px" width="100px" />

                    <p id="tea"> <b>Admin Login</b></p>
            </td></a>
        </tr>
    </table><br><br><br>


</center>
