<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Application</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/login.js"></script>

</head>

<body>
    <form method="post" action="/validate" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="whole">
            <div class="main">
                <div class="logo">
                    <img src="/static/kulogo.jpeg" width="100" height="100">
                </div>
                <big><big>
                        <b><big><big> <big> KAKATIYA UNIVERSITY<br></big><b>
                                </big></big></big></big>
                <big><b>Warangal-506 009</b></big>
                <h2 style="margin-bottom:03px;">FORM OF APPLICATION FOR SUBMISSION OF Ph.D THESIS.</h2>
            </div>
            <div class="para">
                <p><b><u>Fee Details</u></b>
                    <br>
                    <br>
                    UPI Reference ID : <input style="width:250px; height:25px;" type="text" id="upiid" name="upiid"
                        required>
                    <br><br>
                    Online/PhonePe/G.Pay Amount :<input style="width:200px; height:25px;" type="number" id="amount"
                        name="amount" placeholder="Enter the fee" required><br><br>
                    Date of Payment :<input style="width:200px; height:25px;" type="date" id="paymentdate"
                        name="paymentdate" required><br><br>
                    Proof of Payment :<input id="twenty-two" name="payss" type="file" onchange='validateSize1(this)'
                        style="width:25%;height: 30px;font-size: 20px;" required>
                </p>
            </div>
            <br>
            <table style="border: 0px solid black;margin: auto;width: 90%;">
                <thead>
                    <tr>
                        <th>Name of the Candidate <small style="font-style: italic;">(In Capital)</small>
                            Shri/Mr./Ms.<br><small style="font-style: italic;">(as per Pre-Ph.D
                                Memo)</small></th>
                        <td><input id="one" name="cname" class="info" type="text"
                                style="text-transform:uppercase;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Mother Name</th>
                        <td><input id="two" name="mname" class="info" type="text"
                                style="text-transform:uppercase;width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Father Name</th>
                        <td><input id="two" name="fname" class="info" type="text"
                                style="text-transform:uppercase;width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td><input id="three" name="dob" class="info" type="date"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Photo <small style="font-style: italic;">(Passport Size)</small></th>
                        <td><input id="three" name="photo" class="info" type="file" onchange='validateSize1(this)'
                                style="width:100%;height: 30px;font-size: 20px;" accept="image/jpeg" required></td>
                    </tr>
                    <tr>
                        <th>Mobile No</th>
                        <td><input id="four" name="mob" class="info" value="{{andy}}" type="text" maxlength="10"
                                style="width:100%;height: 30px;font-size: 20px;" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th>Email id </th>
                        <td><input id="email" name="email" class="info" type="text"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Permanent Address</th>
                        <td><textarea id="afive" name="address" cols="30" rows="5"
                                placeholder="H.No,Village/Town,Dist,State" required></textarea></td>
                    </tr>
                    <tr>
                        <th>Subject of Thesis to be Submitted</th>
                        <td><input class="info" id="six" name="tsubmit" type="text"
                                style="text-transform: capitalize; width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Faculty of Thesis to be Submitted</th>
                        <td><input class="info" id="seven" name="ftsubmit" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Name of the Post Graduation Examination Passed</th>
                        <td><input class="info" id="eight" name="equalexam" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left: 100px;">a. Name of the University</th>
                        <td><input class="info" id="nine" name="university" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left: 100px;">b. Month/ Year of Passing</th>
                        <td><input class="info" id="nine" name="monthyear" placeholder="mm/yyyy" type="text"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Name of the Supervisor</th>
                        <td><input class="info" id="ten" name="supname" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left: 100px;"> a. Department</th>
                        <td><input class="info" id="eleven" name="supdept" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-left: 100px;"> b. Working Address</th>
                        <td><input class="info" id="twelve" name="supwadd" type="text"
                                style="text-transform: capitalize;width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Ph.D. Admission Order No./Date</th>
                        <td><input class="info" id="thirteen" name="admissionorder" type="file"
                                onchange='validateSize1(this)' style="width:100%;height: 30px;font-size: 20px;"
                                required></td>
                    </tr>
                    <tr>
                        <th>Supervisor's Report <small style="font-style: italic;">(Attested by Dean,Head and
                                BoS)</small></th>
                        <td><input class="info" id="fourteen" name="supreport" type="file"
                                onchange='validateSize1(this)' style="width:100%;height: 30px;font-size: 20px;"
                                required></td>
                    </tr>
                    <tr>
                        <th>Title of the Thesis as per Dean Order</th>
                        <td><input class="info" id="fifteen" name="titlethesis" type="text"
                                style="text-transform:uppercase; width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Attach Ph.D Order <small style="font-style: italic;">(as per Dean)</small></th>
                        <td><input class="info" id="fifteen" name="tthesis" type="file" onchange='validateSize1(this)'
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Year of Admission into Ph.D. Program</th>
                        <td><input class="info" id="sixteen" name="yearofadd" type="number"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Full time /Part-time</th>
                        <td><select name="time" style="width:170px;height:25px;" required>
                                <option value="FullTime" True>FullTime</option>
                                <option value="PartTime">PartTime</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Are you Submitting Thesis within Prescribed Time? </th>
                        <td> <label for="eighteenT">Yes</label><input type="radio" onchange="myFunction01(this)" id="eighteenT"  name="ptime"
                                value="true" ><label
                                for="eighteenF">No</label><input id="eighteenF" onchange="myFunction01(this)" type='radio'
                                 name="ptime" value="false">
                        </td>
                    </tr>
                    <tr id="pr">

                    </tr>
                    <tr>
                        <th>Pre-Ph.D Qualified Month and Year</th>
                        <td><input class="info" id="twenty" name="prephd" type="text"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>No. of Articles Submitted <br> <small style="font-style: italic;">(Attested by the
                                Supervisor,Head,BoS and Dean) </small></th>
                        <td><input class="info" id="twenty-one" name="article" type="number"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>Upload Synopsis<br><small style="font-style: italic;">(Soft Copy pdf)</small></th>
                        <td><input id="twenty-two" name="synopsis" class="info" type="file"
                                onchange='validateSize(this)' style="width:100%;height: 30px;font-size: 20px;" required>
                        </td>
                    </tr>
                    <tr>
                        <th>Upload Thesis<br><small style="font-style: italic;">(Soft Copy pdf)</small></th>
                        <td><input id="twenty-three" name="uploadthesis" class="info" type="file"
                                onchange='validateSize2(this)' style="width:100%;height: 30px;font-size: 20px;"
                                required></td>
                    </tr>
                    <tr>
                        <th>Plagiarism Certificate</th>
                        <td><input id="twenty-five" name="pc" class="info" type="file" accept="image/jpeg"
                                onchange='validateSize1(this)' style="width:100%;height: 30px;font-size: 20px;"
                                required></td>
                    </tr>
                    <tr>
                        <th>Date of Submission</th>
                        <td><input id="twenty-four" name="dateofsubmission" class="info" type="date"
                                style="width:100%;height: 30px;font-size: 20px;" required></td>
                    </tr>
                    <tr>
                        <th>No Due Certificate</th>
                        <td><input id="twenty-five" name="noc" class="info" type="file" accept="image/jpeg"
                                onchange='validateSize1(this)' style="width:100%;height: 30px;font-size: 20px;"
                                required></td>
                    </tr>
                </thead>
            </table>
            <br>
            <br>
            <div class="bottom">
                Date of Application :<input type="text" id="date" name="myDate"
                    style="width:200px;height: 30px;font-size: 20px;" onchange="datefun()" readonly>
                <div class="sign">
                    Signature of the Applicant :<input type="file" name="Sign" accept="image/jpeg"
                        onchange='validateSize1(this)' required>
                </div>
                <br>
            </div>
            <br>
            <br>
            <div class="sub">
                <button class="btn btn-primary " onclick="myFunction02()" type="submit">Submit </button>
                <button class="btn" id="reset" type="reset">Reset</button>
            </div>
            <br>
            <br>
            <br>
        </div>

    </form>
    <script>
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        const dateObj = new Date();
        const month = monthNames[dateObj.getMonth()];
        const day = String(dateObj.getDate()).padStart(2, '0');
        const year = dateObj.getFullYear();
        const output = day + '/' + Math.abs(monthNames.indexOf(month + 1)) + '/' + year;
        document.getElementById('date').value = output;
    </script>
</body>

</html>