<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="/static/status.css">

</head>

<body>
    
        <div class="whole">
            <div class="main">
                {% csrf_token %}
                <div class="logo">
                    <img src="/static/kulogo.jpeg" width="100" height="100">
                </div>
                <big><big>
                    <b><big><big> <big> KAKATIYA UNIVERSITY<br></big><b>
                    </big></big></big></big>
                <big><b>Warangal-506 009</b></big>
                <u>
                    <h2 style="margin-bottom:19px;">Status of your Application</h2>
                </u>
            </div>
            <center>
                <div class="imgdiv">
                    <img class="photo" src="media/{{photo}}" alt=" your pic">
                </div>
            </center>
            <center>
                <table>
                    <tr>
                        <th>Candidate Name</th>
                        <td>: {{cname}}</td>
                    </tr>
                    <tr>
                        <th>Father Name</th>
                        <td>: {{fname}} </td>
                    </tr>
                    <tr>
                        <th>Mobile Number</th>
                        <td>: {{mobile}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        {% if bstatus %}
                        <td style="color:green">:<b> {{status}} </b></td>
                        {% else %}
                        <td style="color:red">:<b> {{status}} </b></td>
                        {% endif %}
                    </tr>
                </table><br><br>
                {% if bstatus %}
                <a href="/certificate" ><button  class="btn">Generate Certificate</button></a>

                {% else %}
                <div class="reason">
                    <h3>{{Sreason}} </h3>

                </div>
                {% if Rstatus %}
                <a href="/delete"><button class="btn" style="background-color:#D0342C;">Fill Form Again</button></a>
                {% endif %}
                {% endif %}

            </center>
        </div>
   
</body>

</html>