<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/test.css">

</head>

<body>
    <form method="post" action="/adminlogin">
        {% csrf_token %}
        <div class="whole">
            <div class="main">
                <div class="logo">
                    <img src="/static/kulogo.jpeg" width="100" height="100">
                </div>
                <big><big>
                    <b><big><big> <big> KAKATIYA UNIVERSITY<br></big><b>
                    </big></big></big></big>
                <big><b>Warangal-506 009</b></big>
            </div>
        </div>
        <div>
            <center><select class="select" name="nithin">
                    {% for i in andy %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select><br><br><br>
                <input class="btn" value="Open" type="submit">
            </center>
        </div>
    </form>
    <br>
    <br>
    <br>
    <center>
        <a href="/Approveds" ><input type="button"class="btn" value="Approved">
    </center>
</body>
</html>